form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 90%;
  gap: 10px;
}

.form-div-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-input {
  height: 25px;
}

.form-textarea {
  display: flex;
  flex-direction: column;
  width: auto;
}

#form-body {
  width: 100%;
}

.form-button {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background-color: #3c6783;
  color: white;
}

.form-button:hover {
  background-color: #123045;
}

.label-required::after {
  content: " *";
  color: red;
}

.label-required-error {
  font-size: 10px;
  color: red;
  padding: 0;
  margin: 0;
}

.error {
  border: 1px solid red;
  border-radius: 2px;
}

.tag-div-input-button {
  display: flex;
  width: 100%;
  gap: 15px;
}

.tags-map {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0px 10px 0px;
  width: 100%;
}

.tag-delete-item {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding: 2px;
  background-color: #688191;
  border-radius: 5px;
  width: auto;
  color: white;
  overflow-wrap: break-word;
}

.tag-delete-item-button {
  border-radius: 5px;
  background-color: rgb(241, 146, 146);
  border: 1px solid black;
  font-size: 10px;
}

.form-div-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.coverimage {
  width: 50%;
  height: 50%;
}