.section {
  width: 100%;
  height: 100%;
  position: relative;
}

.form-newPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 90%;
  height: auto;
  gap: 10px;
}

.isLoading {
  visibility: visible;
}

.isnoLoading {
  visibility: hidden;
}

.isResponse { 
  width: 100%;
  height: 100%;
  background-color: black;
  filter: opacity(50%);
  position: absolute;
  z-index: 99;
}

.loadingNew {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background-color: #123045;
  border-radius: 10px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  color: white;
}

.lds-ringNew {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ringNew div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffffff transparent transparent transparent;
}
.lds-ringNew div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ringNew div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ringNew div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ringNew {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingbtn {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #8ff48b;
}

.form-div-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-input {
  height: 25px;
}

.form-textarea {
  display: flex;
  flex-direction: column;
  width: auto;
}

#form-body {
  width: 100%;
}

.form-button {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background-color: #3c6783;
  color: white;
}

.form-button:hover {
  background-color: #123045;
}

.label-required::after {
  content: " *";
  color: red;
}

.label-required-error {
  font-size: 10px;
  color: red;
  padding: 0;
  margin: 0;
}

.error {
  border: 1px solid red;
  border-radius: 2px;
}

.tag-div-input-button {
  display: flex;
  width: 100%;
  gap: 15px;
}

.tags-map {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0px 10px 0px;
  width: 100%;
}

.tag-delete-item {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding: 2px;
  background-color: #688191;
  border-radius: 5px;
  width: auto;
  color: white;
  overflow-wrap: break-word;
}

.tag-delete-item-button {
  border-radius: 5px;
  background-color: rgb(241, 146, 146);
  border: 1px solid black;
  font-size: 10px;
}

.form-div-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.coverimage {
  width: 50%;
  height: 50%;
}