body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #9ec9e6;
  /* background-image: url(./assets/waveUp.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: top 50px center; */
}

.navbar {
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  background: #3c6783;
  /* background: #123045; */
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar p {
  padding: 0;
  margin: 0 20px;
  font-size: 25px;
}

.navbar-a {
  width: 200px;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar-a-navlink {
  text-decoration: none;
  color: white;
}

.container-home {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-data {
  width: 400px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.header-home {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 25px;
  padding-bottom: 10px;
}

.header-home h2 {
  justify-self: center;
  padding: 0;
  margin: 0;
}

.header-home a {
  font-size: 30px;
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
  align-self: end;
}

.header-home svg {
  padding: 0;
  margin: 0;
  
}

.posts {
  display: flex;
  flex-direction: column;
}

.post h2, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.post {
  display: flex;
  flex-direction: column;
  border: 1px solid #123045;
  padding: 20px;
  gap: 10px;
  text-decoration: none;
  color: black;
}

.post-title-date {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.post-tag {
  border: 2px solid #123045;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.post-comments {
  font-weight: bold;
  font-size: 14px;
}

.post-tag-comments {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.container-formik {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.formik-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #3c6783;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .formik-form div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 300px;
  justify-content: space-between;
  color: white;
  font-size: 20px;
} */

.formik-head {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formik-head-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  gap: 10px;
  width: 100%;
}

.formik-head-div-A-C {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.formik-form-field-A-C {
  border-radius: 5px;
  width: 80px;
  height: 25px;
  font-size: 15px;
}

.formik-author {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.formik-tag {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 5px;
}

.formik-form-field {
  border-radius: 5px;
  height: 25px;
  font-size: 15px;
  width: 300px;
}

.formik-form-textarea {
  border-radius: 5px;
  width: 300px;
}

.formik-btn-submit {
  border-radius: 5px;
  color: white;
  background-color: #123045;
  font-size: 20px;
}

.formik-error {
  color: #fb4444;
  font-size: 10px;
}

@media (min-width: 700px) {
  .formik-form {
    width: 500px;
  }

  .formik-form-field-A-C {
    width: 200px;
  }

  .formik-tag select {
    width: 100px;
  }
}

@media (min-width: 900px) {
  .formik-form {
    width: 700px;
  }

  .formik-form-field-A-C {
    width: 300px;
  }

  .formik-tag select {
    width: 200px;
  }
}

.post-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}