body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #9ec9e6;
  background-image: url(./assets/waveUp.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: top 50px center;
}

.container-home {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-data {
  width: 400px;
  height: 200px;
  border: 2px solid rgb(6, 250, 14);
  margin-top: 80px;

  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  background: #3c6783;
  /* background: #123045; */
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar p {
  padding: 0;
  margin: 0 20px;
  font-size: 25px;
}

.navbar-a {
  width: 200px;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar-a-navlink {
 text-decoration: none;
 color: white;
}