body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
}

.navbar {
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  background: #3c6783;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar p {
  padding: 0;
  margin: 0 20px;
  font-size: 25px;
}

.navbar-a {
  width: 200px;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar-a-navlink {
  text-decoration: none;
  color: white;
}

.container-home {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-data {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-home {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 25px;
  padding: 10px;
}

.header-home h2 {
  justify-self: center;
  padding: 0;
  margin: 0;
}

.header-home a {
  font-size: 30px;
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
  align-self: end;
}

.header-home svg {
  padding: 0;
  margin: 0;
}

.nopost p {
  padding: 20px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.nopost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.nopost h2 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

.header-home-newpost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  text-decoration: none;
  color: black;
  font-size: 40px;
}

.header-home-newpost p {
  margin: 0;
  padding: 0;
  font-size: small;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.post h2, li {
  padding: 0;
  margin: 0;
}

.post {
  display: flex;
  flex-direction: column;
  border: 1px solid #123045;
  border-radius: 5px;
  padding: 20px;
  gap: 10px;
  text-decoration: none;
  color: black;
}

.post-title-date {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.post-tag {
  border: 2px solid #123045;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.post-no-comments{
  font-weight: bold;
}

.post-comments {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 95%;
  margin: 20px;
  gap: 10px;
  border-radius: 5px;
  background-color: #82abc8;
}

.post-comments p {
  font-size: 20px;
  font-weight: bold;
}

.post-comment{
  display: flex;
  flex-direction: column;
  border: 1px solid #123045;
  padding: 20px;
  margin: 0 10px 0 10px;
  border-radius: 5px;
  background-color: #b7ccdb;
}

.post-comment-username{
  display: flex;
  align-items: center;
}

.post-comment-body{
  text-align: start;
  overflow-wrap: break-word;
}

.post-user{
  width: 20px;
  height: 20px;
  align-self: start;
  padding: 5px;
}

.post-comment-submit {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.post-comment-submit textarea {
  width: 100%;
}

.post-tag-comments {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.container-formik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.formik-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  width: 80%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #b7ccdb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.formik-wraper{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formik-head {
  display: flex;
  flex-direction: column;
  gap: 25px;
  display: 100%;
}

.formik-head-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  gap: 10px;
  width: 100%;
}

.formik-head-div-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.formik-head-div-textarea{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formik-head-div-A-C {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  width: 100%;
}

.formik-form-field-A-C {
  border-radius: 5px;
  width: 200px;
  height: 25px;
  font-size: 15px;
}

.formik-author {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.formik-tag {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 5px;
}

.formik-tag select {
  height: 30px;
  border-radius: 5px;
}

.formik-form-field {
  border-radius: 5px;
  height: 25px;
  font-size: 15px;
  width: 300px;
}

.formik-form-textarea {
  border-radius: 5px;
  width: 300px;
}

.formik-btn-submit {
  border-radius: 5px;
  color: white;
  background-color: #123045;
  font-size: 20px;
}

.formik-error {
  color: #fb4444;
  font-size: 10px;
}

@media (min-width: 700px) {
  .formik-head-div-A-C{
    flex-direction: row;
    justify-content: space-between;
  }

  .formik-form-textarea {
    width: 500px;
  }

  .formik-form-field{
    width: 500px;
  }
}

@media (min-width: 900px) {
  .formik-form-textarea {
    width: 650px;
  }

  .formik-form-field{
    width: 650px;
  }
}

.post-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.post-layout{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 15px;
  gap: 15px;
}

.post-layout-T-A {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.post-layout-title {
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.post-layout-title h2{
  font-size: 30px;
  font-weight: bold;

  backdrop-filter: blur(15px);
  border: 2px solid white;
  border-radius: 5px;
  padding: 6px;
  width: 50%;
}

.post-layout-author {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.post-layout-user{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.post-layout-body {
  text-align: justify;
  font-size: 20px;
  width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.post-layout-tags {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  text-align: start;
}

.post-layout-tags-fix {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.post-layout-tags-fix li {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 3px 2px 3px;
  background-color: grey;
  color: white;
  font-size: 14px;
  vertical-align: baseline;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 30px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #123045;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #123045 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}