body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
}

/* .post-tag {
  border: 2px solid #123045;
  border-radius: 5px;
  width: 100px;
  text-align: center;
} */

/* .header-home-newpost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  text-decoration: none;
  color: black;
  font-size: 40px;
}

.header-home-newpost p {
  margin: 0;
  padding: 0;
  font-size: small;
} */

/* .post-no-comments{
  font-weight: bold;
} */

/* .container-formik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.formik-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  width: 80%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #b7ccdb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.formik-wraper{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formik-head {
  display: flex;
  flex-direction: column;
  gap: 25px;
  display: 100%;
}

.formik-head-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  gap: 10px;
  width: 100%;
}

.formik-head-div-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.formik-head-div-textarea{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formik-head-div-A-C {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  width: 100%;
}

.formik-form-field-A-C {
  border-radius: 5px;
  width: 200px;
  height: 25px;
  font-size: 15px;
}

.formik-author {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.formik-tag {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 5px;
}

.formik-tag select {
  height: 30px;
  border-radius: 5px;
}

.formik-form-field {
  border-radius: 5px;
  height: 25px;
  font-size: 15px;
  width: 300px;
}

.formik-form-textarea {
  border-radius: 5px;
  width: 300px;
}

.formik-btn-submit {
  border-radius: 5px;
  color: white;
  background-color: #123045;
  font-size: 20px;
}

.formik-error {
  color: #fb4444;
  font-size: 10px;
} */

/* @media (min-width: 700px) {
  .formik-head-div-A-C{
    flex-direction: row;
    justify-content: space-between;
  }

  .formik-form-textarea {
    width: 500px;
  }

  .formik-form-field{
    width: 500px;
  }
}

@media (min-width: 900px) {
  .formik-form-textarea {
    width: 650px;
  }

  .formik-form-field{
    width: 650px;
  }
} */